
/* MENUS */

.menu_secondaire, .menu_tertiaire
{
	display:none;
}

/*Les boutons, en général */
.bouton_menu
{
	cursor : pointer;
	margin:auto;
	display:inline-block;
	margin: 4px 4px 4px 4px;
	border-radius:5px;
	box-shadow: 4px 4px 4px #CCC;
}

.bouton_menu:hover
{
	border:black;
	box-shadow: 2px 2px 2px #aaa;
	margin: 6px 2px 2px 6px;
}


/* BOITE INFO CE */

.boite_info
{
	/*border : solid;*/
	border-radius : 10px;
	background-color:#EEEEEE;
	margin : 10px;
	overflow : hidden;
	width:800px;
}
.boite_info h2
{
	background-color:#AAAAAA;
	margin:0px;
	padding:5px;
}
.boite_info .contenu_info
{
	margin:10px;
}
